<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <link href="site.css" rel="stylesheet" type="text/css" />

    <title>Salt Managed System - {{ id }}</title>
  </head>
  <body>
    <h1>Salt Managed System - {{ id }}</h1>
    <small><i>Last Updated: {{ time }}</i></small>

    <h2>Current Users</h2>
    <i>* - indicates sudoer</i>
    <ul>
    {% for u in users %}
      <li>{{ u.name }}{% if 'sudo' in u.groups %}*{% endif %}</li>
    {% endfor %}
    </ul>

    <h2>Configured Groups</h2>
    <ul>
    {% for group in configured_groups %}
      <li>{{ group }}</li>
    {% endfor %}
    </ul>

    <h2>Configured Sudoers</h2>
    <ul>
    {% for sudoer in configured_sudoers %}
      <li>{{ sudoer }}</li>
    {% endfor %}
    </ul>

    <h2>System Information</h2>
    <table class='coltitle'>
    <tr><td>OS</td><td>{{grains.os}}</td></tr>
    <tr><td>Release</td><td>{{grains.osrelease}} <i>({{grains.oscodename}})</i></td></tr>
    <tr><td>Memory</td><td>{{grains.mem_total}}MB</td></tr>
    <tr><td>CPU</td><td>{{grains.num_cpus}} {{grains.cpuarch}}'s <small><i>{{', '.join(grains.cpu_flags)}}</i></small></td></tr>
    <tr><td>Disk</td>
    </table>

    <div class='indent'>
    <div class='indent'>
    <table>
    <tr><th>Mount Point</th><th>Device</th><th>Size(1k blocks)</th><th>Available</th></tr>
    {% for mnt,info in disk.iteritems() %}
      {% if info.filesystem.startswith('/dev') %}
      <tr>
        <td>{{mnt}}</td><td>{{info.filesystem}}</td><td>{{info['1K-blocks']}}</td><td>{{info.available}}</td>
      </tr>
      {% endif %}
    {% endfor %}
    </table>
    </div>
    </div>
  </body>
</html>
